[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/Vundle.vim.git
[submodule ".vim/snips/angular-vim-snippets"]
	path = .vim/snips/angular-vim-snippets
	url = https://github.com/matthewsimo/angular-vim-snippets.git
